.Container{
    max-height: 100%;
    padding: 0vw 1.5vw;
    box-sizing: border-box;
    max-width: 700px;
}

/*itemList Animations*/

.animateItemList-move{
    transition: transform 0.5s ease-in-out;
}