.recipeCard{
    margin-top: 2vh;
    text-align: left;
    background-color: var(--white); 
    border-radius: 6px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    z-index: 10;

    min-height: 100px;
    min-width: 360px;
}
.recipeCard h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.recipeCard h2 {
    letter-spacing: 1px;
    margin: 0.5pc 0;
}

.cardSection{
    padding: 1.2vh 2vh;
    width: 100%;
}

.blueSection{
    background-color: var(--bg-blue);
}
.greySection{
    background-color: var(--section-gray);
}
.greenText{
    color:  var(--ok-green);
}
.redText{
    color:  var(--ok-red);
}
.orangeText{
    color:  var(--ok-orange);
}
.recipeName {
    background-color: var(--bg-blue);
    color:var(--white);
}
.recipeStatus {
    color: Var(--black);
}
.show {
    text-align: center;
    padding: 0pc;
}
.show h6{
    padding: 0.5pc 0pc;
}
.showButton{
    cursor: pointer;
}
.showButton:hover{
    background-color: var(--gray);
}
.recipieItems {
    background-color: var(--section-gray);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;

    padding: 0pc;
}
.recipieItems li{
    padding: 5px;
}
.recipieItems > li:nth-of-type(odd){
    background-color: var(--section-dark-gray-2);
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.dot {
    margin-top: 2.5mm;
    margin-bottom: 2.5mm;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5pc;
}
.redDot{
    background-color: var(--ok-red);
}
.greenDot{
    background-color: var(--ok-green);
}
.orangeDot{
    background-color:var(--ok-orange);
}

.smallButton{
    padding: 0.3pc 0.6pc;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transform:scale(0.9,0.9);
    border-radius: 100%;
    float: right;
}
.smallButton:hover{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    transform:scale(1.1,1.1);
}
.smallButton:active{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    transform:scale(0.95,0.95);
}

.circularButton{
    padding: 0.5pc 0.8pc;
    border-radius: 50%;
}

.creator{
    margin-top: 6vh;
    z-index:90;
}

.inputContainer{
    display:inline-flex;
    justify-content:flex-start;
    align-items: center;
    
}

.newItem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 100%;

}
.newItemInfo{
    float: left;
    margin-right: 1pc;
    width: fit-content;
    flex-grow: 1;
}

.FloatBRight{
    float:right;

    margin-left: 1vw;
}