* {
    --select-primary: #11998e;
    --select-secondary: #38ef7d;

    --white: #fff;
    --gray: #9b9b9b;
    --progress-gray: #ddd;

    --section-gray: #c2c2c2;
    --section-dark-gray: #b1b1b1;
    --section-dark-gray-2: #aaaaaa;
    
    --ok-green:#0e4444;
    --ok-red: #5f1919;
    --ok-orange: #9b790b;

    --black: #0a0a0a;
    --bg-blue: #2A265F;

    /* 
    --bg-blue: #2A265F;
    --progress-blue: #5f1919;
    --progress-red: #2A265F;
    */
}
